* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
}
#toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 10vh;
    background-color: black;
    margin: 0;
    padding: 0;
    top: 0;
}
#draw {
    width: 100vw;
    height: 90vh;
}